---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/research.html</loc></url>
  <url><loc>{{ site.url }}/publications.html</loc></url>
  <url><loc>{{ site.url }}/software.html</loc></url>
</urlset>
